<!--<div class="cwt__footer" ng-class="{'visible-footer': showFooter}">
        <div class="row">
            <div class="col-md-4">
                <a href="https://themeforest.net/item/clean-ui-premium-bootstrap-4-admin-template-angular-starter-kit/16678285?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-primary">
                    Buy Now 25$
                </a>
            </div>
            <div class="col-md-8">
                <div class="cwt__footer__company">
                    <img class="cwt__footer__company-logo" src="../assets/common/img/temp/mediatec.png" target="_blank" title="Mediatec Software">
                    <span>
                        © 2016 <a href="http://mediatec.org/" class="cwt__footer__link" target="_blank">Mediatec Software</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
</div>-->
<div class="main-backdrop"><!-- --></div>

</body>
</html>