<nav class="left-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}">
    <div class="logo-container">
        <a href="#/dashboards/alpha" class="logo">
            <img src="../assets/common/img/logo.svg" alt="Clean UI Admin Template" />
            <img class="logo-inverse" src="../assets/common/img/logo-inverse.svg" alt="Clean UI Admin Template" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="left-menu-list-color-primary">
                <a class="left-menu-link" href="#/dashboards/alpha">
                    <i class="left-menu-link-icon icmn-home2"></i>
                    Dashboard
                </a>
            </li>
            <li class="left-menu-list-submenu left-menu-list-color-success">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-star-full"><!-- --></i>
                    West coast
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-fire"><!-- --></i>
                            Active WOs
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-clock"><!-- --></i>
                            Pending WOs
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu left-menu-list-color-yellow">
                <a class="left-menu-link" href="javascript: void(0);">

                    <i class="left-menu-link-icon icmn-star-full"><!-- --></i>
                    East coast
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-fire"><!-- --></i>
                            Active WOs
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-clock"><!-- --></i>
                            Pending WOs
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-color-warning">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-stats-growth"></i>
                    Performance
                </a>
            </li>
            <li class="left-menu-list-color-danger">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-users"></i>
                    Team
                </a>
            </li>

        </ul>
    </div>
</nav>