{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h3 class="text-center">
        <i class="icmn-enter margin-right-10"></i>
        Sign in
    </h3>
    <br />
    {{ include('@FOSUser/Security/login_content.html.twig') }}

    <script>
        $(function() {
            // Show/Hide Password
            $('.password').password({
                eyeClass: '',
                eyeOpenClass: 'icmn-eye',
                eyeCloseClass: 'icmn-eye-blocked'
            });

            // Set Background Image for Form Block
            function setImage() {
                var imgUrl = $('.page-content-inner').css('background-image');

                $('.blur-placeholder').css('background-image', imgUrl);
            };

            function changeImgPositon() {
                var width = $(window).width(),
                    height = $(window).height(),
                    left = - (width - $('.single-page-block-inner').outerWidth()) / 2,
                    top = - (height - $('.single-page-block-inner').outerHeight()) / 2;


                $('.blur-placeholder').css({
                    width: width,
                    height: height,
                    left: left,
                    top: top
                });
            };

            setImage();
            changeImgPositon();

            $(window).on('resize', function(){
                changeImgPositon();
            });
        });
    </script>
{% endblock fos_user_content %}
