{% extends '::base.html.twig' %}

{% block body_class %}{{ parent() }} single-page single-page-inverse{% endblock %}

{% block body %}
    <section class="page-content">
        <div class="page-content-inner" style="background-image: url('{{ asset('assets/common/img/temp/login/4.jpg') }}')">
            <!-- Login Omega Page -->
            <div class="single-page-block-header">
                <div class="logo text-center" style="margin: 0 auto">
                    <a href="/">
                        <img src="{{ asset('assets/common/img/logo-inverse.svg') }}" alt="A to Z Appliances" />
                    </a>
                </div>
            </div>
            <div class="single-page-block">
                <div class="single-page-block-inner effect-3d-element">
                    <div class="blur-placeholder"><!-- --></div>
                    <div class="single-page-block-form">
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {% block fos_user_content %}{% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            // Mouse Move 3d Effect
            var rotation = function(e){
                var perX = (e.clientX/$(window).width())-0.5;
                var perY = (e.clientY/$(window).height())-0.5;
                TweenMax.to(".effect-3d-element", 0.4, { rotationY:15*perX, rotationX:15*perY,  ease:Linear.easeNone, transformPerspective:1000, transformOrigin:"center" })
            };

            if (!cleanUI.hasTouch) {
                $('body').mousemove(rotation);
            }

        });
    </script>
{% endblock %}
