{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <input type="text"
               id="username"
               name="username"
               class="form-control"
               placeholder="{{ 'resetting.request.username'|trans }}"
               required>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary width-150"><i class="icmn-send"></i> {{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
