{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h3 class="text-center">
        <i class="icmn-user-lock margin-right-10"></i>
        Forgot password
    </h3>
    <br />
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock fos_user_content %}
