{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h3 class="text-center">
        <i class="icmn-loop margin-right-10"></i>
        Set password
    </h3>
    <br />
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
