{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset', 'novalidate': 'novalidate' } }) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary width-150"><i class="icmn-loop"></i> {{ 'resetting.reset.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
