<div class="page-content-inner">

    <!-- Basic Form Elements -->
    <section class="panel">
        <div class="panel-heading">
            <h3>Edit team member</h3>

        </div>
        <div class="panel-body">
            <h4><i class="icmn-user"></i> <span ng-bind="user.firstname"></span> <span ng-bind="user.lastname"></span></h4>
            <div class="row">
                <div class="col-lg-7">
                    <div class="margin-bottom-50">
                        <form name="userForm" ng-submit="userForm.$invalid ? $root.scrollToError() : save()" novalidate>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.role.$invalid && (userFormSubmitted || userForm.role.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-role">Role</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" name="role" id="user-create-form-role" ng-model="user.role" required>
                                        <option value="ROLE_MANAGER">Manager</option>
                                        <option value="ROLE_ADMIN">Admin</option>
                                        <option value="ROLE_TECH">Technician</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="userForm.role.$invalid && (userFormSubmitted || userForm.role.$touched)">
                                        <ul>
                                            <li>Please, choose the role.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.region.$invalid && (userFormSubmitted || userForm.region.$touched) }"
                                 ng-if="user.role === 'ROLE_MANAGER' || user.role === 'ROLE_TECH'">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-region">Region</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" name="region" id="user-create-form-region" ng-model="user.region" required>
                                        <option value="East coast">East coast</option>
                                        <option value="West coast">West coast</option>
                                        <option value="Both">Both</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="userForm.region.$invalid && (userFormSubmitted || userForm.region.$touched)">
                                        <ul>
                                            <li>Please, choose the region.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.firstname.$invalid && (userFormSubmitted || userForm.firstname.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-firstname">First name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="firstname" id="user-create-form-firstname"  ng-model="user.firstname" required>
                                    <div class="form-control-error-list" ng-show="userForm.firstname.$invalid && (userFormSubmitted || userForm.firstname.$touched)">
                                        <ul>
                                            <li>Please, type the first name.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.lastname.$invalid && (userFormSubmitted || userForm.lastname.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-lastname">Last name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lastname" id="user-create-form-lastname"  ng-model="user.lastname" required>
                                    <div class="form-control-error-list" ng-show="userForm.lastname.$invalid && (userFormSubmitted || userForm.lastname.$touched)">
                                        <ul>
                                            <li>Please, type the last name.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.username.$invalid && (userFormSubmitted || userForm.username.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-username">Nickname</label>
                                </div>
                                <div class="col-md-9">
                                    <div ng-class="checkingUsername ? 'form-input-icon form-input-icon-right' : ''">
                                        <i class="icmn-spinner11 util-spin" ng-show="checkingUsername"></i>
                                        <input type="text"
                                               class="form-control"
                                               name="username"
                                               id="user-create-form-username"
                                               ng-model="user.username"
                                               check-availability
                                               required>
                                    </div>

                                    <div class="form-control-error-list"
                                         ng-show="userForm.username.$invalid && (userFormSubmitted || userForm.username.$touched)">
                                        <ul>
                                            <li ng-if="userForm.username.$error.required">Please, type the nickname.</li>
                                            <li ng-if="userForm.username.$error.invalidUsername">This user is already exists.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.phone.$invalid && (userFormSubmitted || userForm.phone.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-phone">Phone</label>
                                </div>
                                <div class="col-md-9">
                                    <div ng-class="{'input-group': user.phone}">
                                        <input type="text" class="form-control" name="phone" id="user-create-form-phone"  ng-model="user.phone" required>
                                        <span class="input-group-btn" ng-show="user.phone">
                                            <a ng-href="tel:{{ '{{ $root.getNumber(user.phone) }}' }}" class="btn btn-success">
                                                <i class="icmn-phone-outgoing"></i>
                                                <span class="hidden-md-down">Call</span>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-control-error-list" ng-show="userForm.phone.$invalid && (userFormSubmitted || userForm.phone.$touched)">
                                        <ul>
                                            <li>Please, type the phone.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.email.$invalid && (userFormSubmitted || userForm.email.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-email">Email</label>
                                </div>
                                <div class="col-md-9">
                                    <div ng-class="checkingUsername ? 'form-input-icon form-input-icon-right' : ''">
                                        <i class="icmn-spinner11 util-spin" ng-show="checkingUsername"></i>
                                        <div ng-class="{'input-group': user.email && !checkingUsername}">

                                            <input type="email"
                                                   class="form-control"
                                                   name="email"
                                                   id="user-create-form-email"
                                                   ng-model="user.email"
                                                   check-availability
                                                   required>
                                            <span class="input-group-btn" ng-show="user.email && !checkingUsername">
                                            <a ng-href="mailto:{{ '{{ user.email }}' }}" class="btn btn-success">
                                                <i class="icmn-envelop"></i>
                                                <span class="hidden-md-down">Send mail</span>

                                            </a>
                                        </span>
                                        </div>



                                    </div>



                                    <div class="form-control-error-list" ng-show="userForm.email.$invalid && (userFormSubmitted || userForm.email.$touched)">
                                        <ul>
                                            <li ng-if="userForm.email.$error.required">Please, type the email.</li>
                                            <li ng-if="userForm.email.$error.email">This email is not valid.</li>
                                            <li ng-if="userForm.email.$error.invalidUsername">This email is already exists.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.address.$invalid && (userFormSubmitted || userForm.address.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-address">Address</label>
                                </div>
                                <div class="col-md-9">
                                    <div ng-class="{'input-group': user.address}">
                                        <input type="text" class="form-control" name="address" id="user-create-form-address"  ng-model="user.address" required>
                                        <span class="input-group-btn" ng-show="user.address">
                                            <a ng-href="https://maps.google.com/?q={{ '{{ user.address }}' }}" target="_blank" class="btn btn-success">
                                                <i class="icmn-location"></i>
                                                <span class="hidden-md-down">Open map</span>

                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-control-error-list" ng-show="userForm.address.$invalid && (userFormSubmitted || userForm.address.$touched)">
                                        <ul>
                                            <li>Please, type the address.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-if="user.role === 'ROLE_TECH'"
                                 ng-class="{ 'has-danger' : userForm.skills.$invalid && (userFormSubmitted || userForm.skills.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-region">Skills</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" id="user-create-form-region" name="skills" ng-model="user.skills" required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="userForm.skills.$invalid && (userFormSubmitted || userForm.skills.$touched)">
                                        <ul>
                                            <li>Please, choose the skill level.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-if="user.role === 'ROLE_TECH'"
                                 ng-class="{ 'has-danger' : userForm.sealed_system.$invalid && (userFormSubmitted || userForm.sealed_system.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-sealed-system">Sealed system</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" id="user-create-form-sealed-system" name="sealed_system" ng-model="user.sealed_system" required>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="userForm.sealed_system.$invalid && (userFormSubmitted || userForm.sealed_system.$touched)">
                                        <ul>
                                            <li>Please, choose the sealed system.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="user.role === 'ROLE_TECH'"
                                 ng-class="{ 'has-danger' : userForm.employment_type.$invalid && (userFormSubmitted || userForm.employment_type.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-employment-type">Employment type</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" id="user-create-form-employment-type" name="employment_type" ng-model="user.employment_type" required>
                                        <option value="Part time">Part time</option>
                                        <option value="Full time">Full time</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="userForm.employment_type.$invalid && (userFormSubmitted || userForm.employment_type.$touched)">
                                        <ul>
                                            <li>Please, choose the employment type.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : userForm.vehicle.$invalid && (userFormSubmitted || userForm.vehicle.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-vehicle">Vehicle</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="vehicle" id="user-create-form-vehicle"  ng-model="user.vehicle" required>
                                    <div class="form-control-error-list" ng-show="userForm.vehicle.$invalid && (userFormSubmitted || userForm.vehicle.$touched)">
                                        <ul>
                                            <li>Please, type the veicle.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-gov-id">Gov ID</label>
                                </div>
                                <div class="col-md-9">
                                    {#<img class="img-thumbnail" ngf-src="file" ngf-resize="{width: 100, height: 100, quality: 0.9}" ngf-no-object-url="true" >#}
                                    <input
                                            type="file"
                                            id="user-create-form-gov-id"
                                            ngf-select="upload($file)"
                                            {#required#}
                                    />
                                    <br>
                                    <small>Allowed file size: 2 MB</small>

                                    {#<input type="file" id="user-create-form-gov-id" onchange="angular.element(this).scope().uploadFile(this.files)">#}
                                </div>
                                <div class="col-md-9 col-md-offset-3" ng-if="user.govId">
                                    <a ng-href="{{ '{{ user.govId }}' }}" target="_blank" ng-bind="user.govId.substring(user.govId.lastIndexOf('/')+1);"></a>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="form-control-label required" for="user-create-form-picture">Picture</label>
                                </div>
                                <div class="col-md-9">
                                    <input
                                            type="file"
                                            id="user-create-form-picture"
                                            ngf-select="crop($file)"
                                            {#ng-model="myImage"#}
                                            {#name="file"#}
                                            ngf-pattern="'.jpg,.jpeg,.png'"
                                            ngf-accept="'image/*'"
                                            ngf-max-size="2MB"
                                            ngf-min-height="200"
                                            ngf-min-width="200"
                                            {#ngf-resize="{width: 200, height: 200}"#}
                                    >
                                    <br>
                                    <small>
                                        Allowed file size: 2 MB<br>
                                        Allowed files: *.jpg, *.jpeg, *.png<br>
                                        Allowed dimension: 200&times;200
                                    </small>

                                </div>
                                <div class="col-md-12" ng-if="myImage">
                                    <div class="cropArea">
                                        <croppie src="myImage" ng-model="user.picture"  options="{size:{width:128,height:128}{#,boundary:{width:128,height:128}#}}"></croppie>
                                    </div>
                                </div>
                                <div class="col-md-9 col-md-offset-3" ng-if="user.picture">
                                    <img ng-src="{{ '{{ user.picture }}' }}" alt="Picture">
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-xs-4 col-lg-3">
                                        <button type="button"
                                                ladda="userDeleteLoader"
                                                class="btn btn-danger btn-block"
                                                ng-click="openDeleteAlert()">
                                            <i class="icmn-cross"></i>
                                            <span class="hidden-xs-down">Delete</span>
                                            </button>
                                    </div>
                                    <div class="col-xs-4">
                                        <button
                                                type="button"
                                                ladda="userActivateLoader"
                                                class="btn btn-block"
                                                ng-class="user.enabled ? 'btn-warning' : 'btn-success'"
                                                ng-click="toggleActivate()"
                                        >
                                            <i ng-class="user.enabled ? 'icmn-user-minus':'icmn-user-check'"></i>
                                            <span class="hidden-xs-down" ng-bind="user.enabled ? 'Deactivate' : 'Activate'"></span>
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-lg-3 col-lg-offset-2">
                                        <button type="submit" ladda="userSaveLoader" class="btn btn-primary btn-block" ng-click="userFormSubmitted = true">
                                            <i class="icmn-floppy-disk"></i>
                                            <span class="hidden-xs-down">Save</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Horizontal Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->

</div>

<!-- Page Scripts -->
<script>
    $(function() {
        $('#user-create-form-phone').mask('(000) 000-0000', {placeholder: "(___) ___-____"});
    });
</script>
<!-- End Page Scripts -->