<div class="page-content-inner">

    <!-- Basic Tables -->
    <section class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8 col-lg-9">
                    <h3>Team</h3>
                </div>
                <div class="col-xs-4 col-lg-3">
                    <a href="#/users/create" class="btn btn-rounded btn-success-outline btn-block">
                        New <span class="hidden-md-down">team member</span>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="panel-body">
            {#<div class="row">#}
                {#<div class="col-lg-6">#}
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-default">
                            <tr>
                                <th>Team member</th>
                                <th>Role</th>
                                <th>Region</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td>
                                    <span ng-bind="user.firstname"></span> <span ng-bind="user.lastname"></span>
                                </td>
                                <td ng-bind="getRole(user.role)"></td>
                                <td ng-bind="user.role === 'ROLE_ADMIN' ? 'N/A' :user.region"></td>
                                <td><a ng-href="tel:{{ '{{ $root.getNumber(user.phone) }}' }}" ng-bind="user.phone"></a></td>
                                <td><a ng-href="mailto:{{ '{{ user.email }}' }}" ng-bind="user.email"></a></td>
                                <td>
                                    <span
                                            class=""
                                            ng-class="user.enabled ? 'text-success' : 'text-warning'"
                                            ng-bind="user.enabled ? 'Active' : 'Inactive'"></span>
                                </td>
                                <td><a ng-href="#/users/{{ '{{ user.id }}' }}/edit" class="btn btn-xs btn-primary">
                                        <i class="fa fa-edit"></i>
                                        Edit</a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                {#</div>#}
            {#</div>#}
        </div>
    </section>
    <!-- End Basic Tables  -->

</div>

<!-- Page Scripts -->
<script>

    $(function () {

        $("[data-toggle=tooltip]").tooltip();

    });

</script>
<!-- End Page Scripts -->