<!DOCTYPE html>
<html ng-app="cleanUI">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clean UI Admin Template</title>

    <link href="../assets/common/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="../assets/common/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="../assets/common/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="../assets/common/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="../assets/common/img/favicon.png" rel="icon" type="image/png">
    <link href="../favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Vendors Styles -->
    <!-- v1.0.0 -->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/jscrollpane/style/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/cleanhtmlaudioplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/cleanhtmlvideoplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap-sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/summernote/dist/summernote.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/ionrangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/c3/c3.min.css">
    {#<link rel="stylesheet" type="text/css" href="../assets/vendors/chartist/dist/chartist.min.css">#}
    <!-- v1.4.0 -->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/jquery-steps/demo/css/jquery.steps.css">
    <!-- v1.4.2 -->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <!-- v1.7.0 -->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/croppie/croppie.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/angular-xeditable/dist/css/xeditable.min.css">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/common/css/source/main.css">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="../assets/vendors/jquery/jquery.min.js"></script>
    <script src="../assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="../assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js"></script>
    <script src="../assets/vendors/spin.js/spin.js"></script>
    <script src="../assets/vendors/ladda/dist/ladda.min.js"></script>
    <script src="../assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="../assets/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="../assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="../assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="../assets/vendors/autosize/dist/autosize.min.js"></script>
    <script src="../assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
    <script src="../assets/vendors/moment/min/moment.min.js"></script>
    <script src="../assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../assets/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="../assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
    <script src="../assets/vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js"></script>
    <script src="../assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <script src="../assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="../assets/vendors/summernote/dist/summernote.min.js"></script>
    <script src="../assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../assets/vendors/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="../assets/vendors/nestable/jquery.nestable.js"></script>
    <script src="../assets/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <script src="../assets/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="../assets/vendors/editable-table/mindmup-editabletable.js"></script>
    <script src="../assets/vendors/d3/d3.min.js"></script>
    <script src="../assets/vendors/c3/c3.min.js"></script>
    {#<script src="../assets/vendors/chartist/dist/chartist.min.js"></script>#}
    <script src="../assets/vendors/peity/jquery.peity.min.js"></script>
    <!-- v1.0.1 -->
    {#<script src="../assets/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>#}
    <!-- v1.1.1 -->
    <script src="../assets/vendors/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../assets/vendors/hackertyper/hackertyper.js"></script>
    <script src="../assets/vendors/jquery-countTo/jquery.countTo.js"></script>
    <!-- v1.4.0 -->
    <script src="../assets/vendors/nprogress/nprogress.js"></script>
    <script src="../assets/vendors/jquery-steps/build/jquery.steps.min.js"></script>
    <!-- v1.4.2 -->
    <script src="../assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!--<script src="../assets/vendors/chart.js/src/Chart.bundle.min.js"></script>-->
    <!-- v1.7.0 -->
    <script src="../assets/vendors/dropify/dist/js/dropify.min.js"></script>


    <!-- Angular Version Scripts -->
    <script src="../assets/vendors/angular/angular.min.js"></script>
    <script src="../assets/vendors/angular-route/angular-route.min.js"></script>
    <script src="../assets/vendors/angular-resource/angular-resource.min.js"></script>
    <script src="../assets/vendors/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="../assets/vendors/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="../assets/vendors/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="../assets/vendors/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js"></script>
    <script src="../assets/vendors/croppie/croppie.min.js"></script>
    <script src="../assets/vendors/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="../assets/common/js/version_angular/angular-croppie.js"></script>

    <script src="../assets/common/js/version_angular/app.js"></script>
    <script src="../assets/common/js/version_angular/user.ctrl.js"></script>
    <script src="../assets/common/js/version_angular/work-order.js"></script>

    <!-- Angular Version Controllers -->
    {#<script src="pages/register.ctrl.js"></script>#}
    {#<script src="pages/login.ctrl.js"></script>#}
    {#<script src="pages/lockscreen.ctrl.js"></script>#}


    <!-- Clean UI Scripts -->
    <script src="../assets/common/js/common.js"></script>
    <!--<script src="../assets/common/js/demo.temp.js"></script>-->
</head>

<body class="theme-blue colorful-enabled" ng-controller="MainCtrl">

<nav class="left-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}">
    <div class="logo-container">
        <a href="#/" class="logo">
            <img src="../assets/common/img/logo.svg" alt="Clean UI Admin Template" />
            <img class="logo-inverse" src="../assets/common/img/logo-inverse.svg" alt="Clean UI Admin Template" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="left-menu-list-color-primary">
                <a class="left-menu-link" href="#/">
                    <i class="left-menu-link-icon icmn-home2"></i>
                    Dashboard
                </a>
            </li>
            <li class="left-menu-list-submenu left-menu-list-color-success">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-star-full"><!-- --></i>
                    West coast
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-fire"><!-- --></i>
                            Active WOs
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-clock"><!-- --></i>
                            Pending WOs
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu left-menu-list-color-yellow">
                <a class="left-menu-link" href="javascript: void(0);">

                    <i class="left-menu-link-icon icmn-star-full"><!-- --></i>
                    East coast
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-fire"><!-- --></i>
                            Active WOs
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon icmn-clock"><!-- --></i>
                            Pending WOs
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-color-warning">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-stats-growth"></i>
                    Performance
                </a>
            </li>
            <li class="left-menu-list-color-danger">
                <a class="left-menu-link" href="#/users/list">
                    <i class="left-menu-link-icon icmn-users"></i>
                    Team
                </a>
            </li>

        </ul>
    </div>
</nav>
<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="menu-icon-container hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
            <div><!-- --></div>
        </div>
    </div>
    <div class="menu">

        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        {% if app.user.picture %}
                            <img src="{{ app.user.picture }}" alt="Avatar">
                        {% else %}
                            <i class="fa fa-user fa-2x fa-fw"></i>
                        {% endif %}
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
            </div>
        </div>

        <div class="menu-user-block menu-notifications">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="menu-notification-icon icmn-bubbles7"></i>
                    <sup class="text-primary pull-left">1</sup>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <div class="notification-block">
                        <div class="item">
                            <i class="notification-icon icmn-stack3"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">24 min ago</span>
                                    <a href="javascript: void(0);">Notification:</a>
                                </div>
                                <div class="descr">
                                    Coming soon...
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="menu-info-block">
            <div class="left hidden-xs-down">
                <a href="#/work-order/create" class="btn btn-success-outline btn-rounded">
                    <span class="hidden-md-down">New work order</span>
                    <span class="hidden-lg-up"><i class="icmn-plus"></i> WO</span>
                </a>
            </div>

            <div class="left hidden-xs-down margin-left-20">
                <div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Search...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="page-content" ng-view></section>

<!--<div class="cwt__footer" ng-class="{'visible-footer': showFooter}">
        <div class="row">
            <div class="col-md-4">
                <a href="https://themeforest.net/item/clean-ui-premium-bootstrap-4-admin-template-angular-starter-kit/16678285?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-primary">
                    Buy Now 25$
                </a>
            </div>
            <div class="col-md-8">
                <div class="cwt__footer__company">
                    <img class="cwt__footer__company-logo" src="../assets/common/img/temp/mediatec.png" target="_blank" title="Mediatec Software">
                    <span>
                        © 2016 <a href="http://mediatec.org/" class="cwt__footer__link" target="_blank">Mediatec Software</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
</div>-->
<div class="main-backdrop"><!-- --></div>

</body>
</html>