<div class="page-content-inner">

    <!-- Dashboard -->
    <div class="dashboard-container">
        <div class="row">
            <div class="col-xl-12">
                <section class="panel">
                    <div class="panel-heading">
                        <h3>Coming soon...</h3>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- End Dashboard -->

</div>
<!-- End Page Scripts -->