<div class="page-content-inner">

    <!-- Basic Form Elements -->
    <section class="panel">
        <div class="panel-heading">
            <h3>New work order</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-7">
                    <div class="margin-bottom-50">
                        <form name="orderForm" ng-submit="orderForm.$invalid ? $root.scrollToError() : create()" novalidate>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.region.$invalid && (orderFormSubmitted || orderForm.region.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required"  for="order-create-form-region">Region</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" name="region" id="order-create-form-region" ng-model="order.region" required>
                                        <option value="East coast">East coast</option>
                                        <option value="West coast">West coast</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="orderForm.region.$invalid && (orderFormSubmitted || orderForm.region.$touched)">
                                        <ul>
                                            <li>Please, choose the region.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.name.$invalid && (orderFormSubmitted || orderForm.name.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-name">Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="name" id="order-create-form-name"  ng-model="order.name" required>

                                    <div class="form-control-error-list" ng-show="orderForm.name.$invalid && (orderFormSubmitted || orderForm.name.$touched)">
                                        <ul>
                                            <li>Please, type the name.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.issuer.$invalid && (orderFormSubmitted || orderForm.issuer.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required"  for="order-create-form-issuer">Issuer</label>
                                </div>
                                <div class="col-md-9">
                                    <select
                                            class="form-control"
                                            name="issuer"
                                            id="order-create-form-issuer"
                                            ng-model="order.issuer"
                                            ng-options="issuer as issuer for issuer in $root.issuers"
                                            required>
                                    </select>
                                    <div class="form-control-error-list" ng-show="orderForm.issuer.$invalid && (orderFormSubmitted || orderForm.issuer.$touched)">
                                        <ul>
                                            <li>Please, choose the issuer.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.number.$invalid && (orderFormSubmitted || orderForm.number.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-number">#</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="number" id="order-create-form-number"  ng-model="order.number" required>

                                    <div class="form-control-error-list" ng-show="orderForm.number.$invalid && (orderFormSubmitted || orderForm.number.$touched)">
                                        <ul>
                                            <li>Please, type the number.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.status.$invalid && (orderFormSubmitted || orderForm.status.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required"  for="order-create-form-status">Status</label>
                                </div>
                                <div class="col-md-9">
                                    <select
                                            class="form-control"
                                            name="status"
                                            id="order-create-form-status"
                                            ng-model="order.status"
                                            ng-options="status.id as status.name group by status.status for status in $root.workOrderStatuses"
                                            required>
                                    </select>
                                    <div class="form-control-error-list" ng-show="orderForm.status.$invalid && (orderFormSubmitted || orderForm.status.$touched)">
                                        <ul>
                                            <li>Please, choose the status.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.appointment_date.$invalid && (orderFormSubmitted || orderForm.appointment_date.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-appointment-date">Appnt date</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text"
                                           class="form-control"
                                           name="appointment_date"
                                           id="order-create-form-appointment-date"
                                           ng-model="order.appointment_date"
                                           options="{widgetPositioning:{horizontal:'right', vertical:'bottom'},format: 'L', icons:pickerIcons, defaultDate:'now'}"
                                           datetimepicker
                                           required>

                                    <div class="form-control-error-list" ng-show="orderForm.appointment_date.$invalid && (orderFormSubmitted || orderForm.appointment_date.$touched)">
                                        <ul>
                                            <li>Please, choose the date.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group"
                                     ng-class="{ 'has-danger' : orderForm.appointment_time_from.$invalid && (orderFormSubmitted || orderForm.appointment_time_from.$touched) }">
                                    <div class="col-md-3">
                                        <label class="form-control-label required" for="order-create-form-appointment-time-from">From</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control"
                                               name="appointment_time_from"
                                               id="order-create-form-appointment-time-from"
                                               ng-model="order.appointment_time_from"
                                               options="{widgetPositioning:{horizontal:'right', vertical:'bottom'},format: 'LT', icons:pickerIcons,useCurrent:false, defaultDate:'1980-01-01 08:00'}"
                                               datetimepicker
                                               required>

                                        <div class="form-control-error-list" ng-show="orderForm.appointment_time_from.$invalid && (orderFormSubmitted || orderForm.appointment_time_from.$touched)">
                                            <ul>
                                                <li>Please, choose the time.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{ 'has-danger' : orderForm.appointment_time_to.$invalid && (orderFormSubmitted || orderForm.appointment_time_to.$touched) }">
                                    <div class="col-md-1">
                                        <label class="form-control-label required" for="order-create-form-appointment-time-to">To</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control"
                                               name="appointment_time_to"
                                               id="order-create-form-appointment-time-to"
                                               ng-model="order.appointment_time_to"
                                               options="{widgetPositioning:{horizontal:'right', vertical:'bottom'},format: 'LT', icons:pickerIcons,useCurrent:false, defaultDate:'1980-01-01 17:00'}"
                                               datetimepicker
                                               required>

                                        <div class="form-control-error-list" ng-show="orderForm.appointment_time_to.$invalid && (orderFormSubmitted || orderForm.appointment_time_to.$touched)">
                                            <ul>
                                                <li>Please, choose the time.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.assignees.$invalid && (orderFormSubmitted || orderForm.assignees.$touched) }">
                                <div class="col-md-3">
                                    <label class="form-control-label required"  for="order-create-form-assignees">Assigned to</label>
                                </div>
                                <div class="col-md-9">
                                    <select
                                            class="form-control select2"
                                            name="assignees"
                                            id="order-create-form-assignees"
                                            ng-model="order.assignees"
                                            multiple
                                            required>
                                        <option value="1">Technician 1</option>
                                        <option value="2">Technician 2</option>
                                    </select>
                                    <div class="form-control-error-list" ng-show="orderForm.assignees.$invalid && (orderFormSubmitted || orderForm.assignees.$touched)">
                                        <ul>
                                            <li>Please, choose the assignee(s).</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.collect.$invalid && (orderFormSubmitted || orderForm.collect.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-collect">Collect</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="number" class="form-control" name="collect" id="order-create-form-collect"  ng-model="order.collect" required>
                                    </div>
                                    <div class="form-control-error-list" ng-show="orderForm.collect.$invalid && (orderFormSubmitted || orderForm.collect.$touched)">
                                        <ul>
                                            <li>Please, type the value.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.notes.$invalid && (orderFormSubmitted || orderForm.notes.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label" for="order-create-form-notes">Notes</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea
                                            name="notes"
                                            class="form-control"
                                            id="order-create-form-notes"
                                            rows="2"
                                            ng-model="order.notes"></textarea>
                                    <div class="form-control-error-list" ng-show="orderForm.notes.$invalid && (orderFormSubmitted || orderForm.notes.$touched)">
                                        <ul>
                                            <li>Please, type the notes.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.private_notes.$invalid && (orderFormSubmitted || orderForm.private_notes.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label" for="order-create-form-private-notes">Private notes</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea
                                            name="private_notes"
                                            class="form-control"
                                            id="order-create-form-private-notes"
                                            rows="2"
                                            ng-model="order.private_notes"></textarea>
                                    <div class="form-control-error-list" ng-show="orderForm.private_notes.$invalid && (orderFormSubmitted || orderForm.private_notes.$touched)">
                                        <ul>
                                            <li>Please, type the notes.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <h4>Client</h4>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.address.$invalid && (orderFormSubmitted || orderForm.address.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-address">Address</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="address" id="order-create-form-address"  ng-model="order.address" required>

                                    <div class="form-control-error-list" ng-show="orderForm.address.$invalid && (orderFormSubmitted || orderForm.address.$touched)">
                                        <ul>
                                            <li>Please, type the address.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.customer_name.$invalid && (orderFormSubmitted || orderForm.customer_name.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-client-name">Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="customer_name" id="order-create-form-client-name"  ng-model="order.customer_name" required>

                                    <div class="form-control-error-list" ng-show="orderForm.customer_name.$invalid && (orderFormSubmitted || orderForm.customer_name.$touched)">
                                        <ul>
                                            <li>Please, type the name.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.phone.$invalid && (orderFormSubmitted || orderForm.phone.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-phone">Phone</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="phone" id="order-create-form-phone"  ng-model="order.phone" required>

                                    <div class="form-control-error-list" ng-show="orderForm.phone.$invalid && (orderFormSubmitted || orderForm.phone.$touched)">
                                        <ul>
                                            <li>Please, type the phone.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row"
                                 ng-class="{ 'has-danger' : orderForm.email.$invalid && (orderFormSubmitted || orderForm.email.$touched) }">

                                <div class="col-md-3">
                                    <label class="form-control-label required" for="order-create-form-email">Email</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" name="email" id="order-create-form-email"  ng-model="order.email" required>

                                    <div class="form-control-error-list" ng-show="orderForm.email.$invalid && (orderFormSubmitted || orderForm.email.$touched)">
                                        <ul>
                                            <li ng-if="orderForm.email.$error.required">Please, type the email.</li>
                                            <li ng-if="orderForm.email.$error.email">This email is not valid.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div ng-repeat="appliance in order.appliances">
                                <h4 ng-bind="'Appliance #'+($index+1)"></h4>
                                <div>
                                    <ng-form name="applianceForm">
                                        <div class="form-group row"
                                             ng-class="{ 'has-danger' : applianceForm.type.$invalid && (orderFormSubmitted || applianceForm.type.$touched) }">
                                            <div class="col-md-3">
                                                <label class="form-control-label required"
                                                       ng-attr-for="{{ '{{ \'order_appliances_\'+$index+\'_type\' }}' }}"
                                                >Type</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select
                                                        ng-attr-id="{{ '{{ \'order_appliances_\'+$index+\'_type\' }}' }}"
                                                        name="type"
                                                        class="form-control"
                                                        ng-model="appliance.type"
                                                        required>
                                                    <option value="Cooktop">Cooktop</option>
                                                    <option value="Dishwasher">Dishwasher</option>
                                                    <option value="Dryer">Dryer</option>
                                                    <option value="Exhaust fan/Hood">Exhaust fan/Hood</option>
                                                    <option value="Freezer (free standing)">Freezer (free standing)</option>
                                                    <option value="Garbage Disposal">Garbage Disposal</option>
                                                    <option value="Ice machine (free standing)">Ice machine (free standing)</option>
                                                    <option value="Microwave">Microwave</option>
                                                    <option value="Oven">Oven</option>
                                                    <option value="Range">Range</option>
                                                    <option value="Refrigerator">Refrigerator</option>
                                                    <option value="Stackable dryer">Stackable dryer</option>
                                                    <option value="Stackable washer">Stackable washer</option>
                                                    <option value="Trash Compactor">Trash Compactor</option>
                                                    <option value="Washer">Washer</option>
                                                    <option value="Wine cooler">Wine cooler</option>
                                                    <option value="other" style="font-style: italic;">Other</option>
                                                </select>

                                                <div class="form-control-error-list" ng-show="applianceForm.type.$invalid && (orderFormSubmitted || applianceForm.type.$touched)">
                                                    <ul>
                                                        <li>Please, choose the type.</li>
                                                    </ul>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="form-group row"
                                             ng-class="{ 'has-danger' : applianceForm.type_other.$invalid && (orderFormSubmitted || applianceForm.type_other.$touched) }"
                                             ng-if="appliance.type == 'other'">
                                            <div class="col-md-9 col-md-offset-3">
                                                <input
                                                        type="text"
                                                        ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_appliance_other\' }}' }}"
                                                        name="type_other"
                                                        placeholder="Type the value"
                                                        class="form-control"
                                                        ng-model="appliance.type_other"
                                                        required>
                                                <div class="form-control-error-list" ng-show="applianceForm.appliance_other.$invalid && (orderFormSubmitted || applianceForm.type_other.$touched)">
                                                    <ul>
                                                        <li>Please, type the value.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row"
                                             ng-class="{ 'has-danger' : applianceForm.brand.$invalid && (orderFormSubmitted || applianceForm.brand.$touched) }">
                                            <div class="col-md-3">
                                                <label
                                                        class="form-control-label required"
                                                        ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_brand\' }}' }}">Brand</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_brand\' }}' }}"
                                                        name="brand"
                                                        required="required"
                                                        class="form-control"
                                                        ng-model="appliance.brand">
                                                    <option value="Amana">Amana</option>
                                                    <option value="ASKO">ASKO</option>
                                                    <option value="Bertazzoni">Bertazzoni</option>
                                                    <option value="BOSCH">BOSCH</option>
                                                    <option value="Dacor">Dacor</option>
                                                    <option value="Electrolux">Electrolux</option>
                                                    <option value="EUROTECH">EUROTECH</option>
                                                    <option value="Fisher&Paykel">Fisher&amp;Paykel</option>
                                                    <option value="Frigidaire">Frigidaire</option>
                                                    <option value="Gaggenau">Gaggenau</option>
                                                    <option value="GE">GE</option>
                                                    <option value="GE Monogram">GE Monogram</option>
                                                    <option value="Haier">Haier</option>
                                                    <option value="Hot Point">Hot Point</option>
                                                    <option value="Jenn-Air">Jenn-Air</option>
                                                    <option value="Kenmore">Kenmore</option>
                                                    <option value="Kitchenaid">Kitchenaid</option>
                                                    <option value="LG">LG</option>
                                                    <option value="LIEBHERR">LIEBHERR</option>
                                                    <option value="Magic Chef">Magic Chef</option>
                                                    <option value="Maytag">Maytag</option>
                                                    <option value="Miele">Miele</option>
                                                    <option value="Nutone">Nutone</option>
                                                    <option value="Samsung">Samsung</option>
                                                    <option value="Sub Zero">Sub Zero</option>
                                                    <option value="Thermador">Thermador</option>
                                                    <option value="U-Line">U-Line</option>
                                                    <option value="Viking">Viking</option>
                                                    <option value="Whirlpool">Whirlpool</option>
                                                    <option value="Wolf">Wolf</option>
                                                    <option value="other" style="font-style: italic;">Other </option>
                                                </select>
                                                <div class="form-control-error-list" ng-show="applianceForm.brand.$invalid && (orderFormSubmitted || applianceForm.brand.$touched)">
                                                    <ul>
                                                        <li>Please, choose the brand.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row"
                                             ng-class="{ 'has-danger' : applianceForm.brand_other.$invalid && (orderFormSubmitted || applianceForm.brand_other.$touched) }"
                                             ng-if="appliance.brand == 'other'">
                                            <div class="col-md-9 col-md-offset-3">
                                                <input
                                                        type="text"
                                                        ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_brand_other\' }}' }}"
                                                        name="brand_other"
                                                        placeholder="Type the value"
                                                        class="form-control"
                                                        ng-model="appliance.brand_other"
                                                        required>
                                                <div class="form-control-error-list" ng-show="applianceForm.brand_other.$invalid && (orderFormSubmitted || applianceForm.brand_other.$touched)">
                                                    <ul>
                                                        <li>Please, type the brand.</li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group row"
                                             ng-class="{ 'has-danger' : applianceForm.complaint.$invalid && (orderFormSubmitted || applianceForm.complaint.$touched) }">
                                            <div class="col-md-3">
                                                <label class="form-control-label required"
                                                       ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_complaint\' }}' }}">Complaint</label>
                                            </div>
                                            <div class="col-md-9">
                                                <textarea
                                                        ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_complaint\' }}' }}"
                                                        name="complaint"
                                                        class="form-control"
                                                        ng-model="appliance.complaint"
                                                        required></textarea>
                                                <div class="form-control-error-list" ng-show="applianceForm.complaint.$invalid && (orderFormSubmitted || applianceForm.complaint.$touched)">
                                                    <ul>
                                                        <li>Please, type the complaint.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>



                                    <div class="form-group" ng-if="order.appliances.length > 1 && !$first">
                                        <button type="button" class="btn btn-sm btn-warning"
                                                ng-click="removeAppliance(appliance)">
                                            <i class="icmn-cross"></i> Remove the appliance
                                        </button>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">
                                <button type="button"
                                        class="btn btn-sm btn-primary"
                                        ng-click="order.appliances.push({})"
                                >
                                    <i class="icmn-plus2"></i> New appliance</button>
                            </div>

                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <button type="submit" ladda="userSaveLoader" class="btn btn-block btn-primary"  ng-click="orderFormSubmitted = true"><i class="icmn-plus2"></i> Add new work order</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Horizontal Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->

</div>

<!-- Page Scripts -->
<script>
    $(function() {
        $('#order-create-form-phone').mask('(000) 000-0000', {placeholder: "(___) ___-____"});
        $('.select2').select2();
//        $('#order-create-form-appointment-date').datetimepicker({
//            widgetPositioning: {
//                horizontal: 'left'
//            },
//            icons: {
//                time: "fa fa-clock-o",
//                date: "fa fa-calendar",
//                up: "fa fa-arrow-up",
//                down: "fa fa-arrow-down"
//            }
//        });
    });
</script>
<!-- End Page Scripts -->