<div class="page-content-inner">


    <div class="row">
        <div class="col-lg-8">
            <section class="panel">
                <div class="panel-heading">
                    <h2 ng-bind="order.name"></h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icmn-calendar2"></i>
                            <span ng-bind="getAppointmentDate()"></span>
                        </div>
                        <div class="col-sm-6">
                            <i class="icmn-clock"></i>
                            <span ng-bind="order.appointment_time_from"></span>
                            <span class="margin-right-10 margin-left-10">—</span>
                            <span ng-bind="order.appointment_time_to"></span>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-sm-6 col-xs-7">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-info" ng-click="order.recalls = order.recalls == 0 ? 0 : order.recalls-1"><i class="icmn-minus2"></i></button>
                                <button type="button" class="btn btn-sm btn-info-outline"><i class="icmn-reset"></i> <span class="hidden-xs-down">Recalls:</span> <span ng-bind="order.recalls"></span></button>
                                <button type="button" class="btn btn-sm btn-info" ng-click="order.recalls = order.recalls+1"><i class="icmn-plus2"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-5 pull-right">
                            <a href="javascript:void(0)" class="btn btn-sm btn-block btn-rounded btn-info-outline pull-right"><i class="icmn-clipboard3"></i> Invoice</a>
                        </div>
                    </div>
                    <h3 class="margin-top-20">Work order</h3>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Issuer
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-select="order.issuer"
                                    e-ng-options="issuer as issuer for issuer in issuers"
                                    ng-bind="order.issuer || 'empty'"
                                    onaftersave="save()"
                                    e-form="editFormIssuer"
                                    e-required></span>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormIssuer.$show()"
                                    ng-hide="editFormIssuer.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            #
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-text="order.number"
                                    ng-bind="order.number || 'empty'"
                                    onaftersave="save()"
                                    e-form="editFormNumber"
                                    e-required></span>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormNumber.$show()"
                                    ng-hide="editFormNumber.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Collect
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-number="order.collect"
                                    ng-bind="'$'+order.collect || 'empty'"
                                    e-inputgroupleft="$"
                                    onaftersave="save()"
                                    e-form="editFormCollect"
                                    e-required></span>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormCollect.$show()"
                                    ng-hide="editFormCollect.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Status
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-select="order.status"
                                    e-ng-options="status.id as status.name group by status.status for status in $root.workOrderStatuses"
                                    ng-bind="showStatus()"
                                    onaftersave="save()"
                                    e-form="editFormStatus"
                                    e-required></span>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormStatus.$show()"
                                    ng-hide="editFormStatus.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Assignee
                        </div>
                        <div class="col-sm-9">
                            <i>Coming soon..</i>
                            {#<span
                                    editable-select="order.status"
                                    e-ng-options="status.id as status.name group by status.status for status in $root.workOrderStatuses"
                                    ng-bind="showStatus()"
                                    onaftersave="save()"
                                    e-required></span>#}
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Notes
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-textarea="order.notes"
                                    ng-bind="order.notes || 'empty'"
                                    onaftersave="save()"
                                    e-form="editFormNotes"
                                    e-required></span>
                            <button class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormNotes.$show()"
                                    ng-hide="editFormNotes.$visible"></button>
                        </div>

                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Private notes
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-textarea="order.private_notes"
                                    ng-bind="order.private_notes || 'empty'"
                                    onaftersave="save()"
                                    e-form="editFormPrivateNotes"
                                    e-required></span>
                            <button class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormPrivateNotes.$show()"
                                    ng-hide="editFormPrivateNotes.$visible"></button>
                        </div>
                    </div>

                    <h3 class="margin-top-20">Client</h3>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Address
                        </div>
                        <div class="col-sm-9">
                            <i class="icmn-location2"></i>
                            <span
                                    editable-text="order.address"
                                    onaftersave="save()"
                                    e-form="editFormAddress"
                                    e-required></span>
                            <a
                                    target="_blank"
                                    ng-href="https://maps.google.com/?q={{ '{{ order.address }}' }}"
                                    ng-hide="editFormAddress.$visible"
                                    ng-bind="order.address || 'empty'"></a>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormAddress.$show()"
                                    ng-hide="editFormAddress.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Name
                        </div>
                        <div class="col-sm-9">
                            <span
                                    editable-text="order.customer_name"
                                    ng-bind="order.customer_name || 'empty'"
                                    onaftersave="save()"
                                    e-form="editFormCustomerName"
                                    e-required></span>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormCustomerName.$show()"
                                    ng-hide="editFormCustomerName.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Phone
                        </div>
                        <div class="col-sm-9">
                            <i class="icmn-phone"></i>
                            <span
                                    editable-text="order.phone"
                                    onaftersave="save()"
                                    e-form="editFormPhone"
                                    e-required></span>
                            <a
                                    ng-href="tel:{{ '{{ $root.getNumber(order.phone) }}' }}"
                                    ng-hide="editFormPhone.$visible"
                                    ng-bind="order.phone || 'empty'"></a>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormPhone.$show()"
                                    ng-hide="editFormPhone.$visible"></button>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-3">
                            Email
                        </div>
                        <div class="col-sm-9">
                            <i class="icmn-envelop"></i>
                            <span
                                    editable-email="order.email"
                                    onaftersave="save()"
                                    e-form="editFormEmail"
                                    e-required></span>
                            <a
                                    ng-href="mailto:{{ '{{ order.email }}' }}"
                                    ng-hide="editFormEmail.$visible"
                                    ng-bind="order.email || 'empty'"></a>
                            <button
                                    class="btn btn-icon btn-xs btn-link icmn-pencil"
                                    ng-click="editFormEmail.$show()"
                                    ng-hide="editFormEmail.$visible"></button>
                        </div>
                    </div>



                    <div ng-repeat="appliance in order.appliances">
                        <h3 class="margin-top-20">Appliance #<span ng-bind="$index+1"></span></h3>
                        <div class="row margin-top-20">
                            <div class="col-sm-3">
                                Type
                            </div>
                            <div class="col-sm-9">
                                <span
                                        editable-text="appliance.type"
                                        onaftersave="save()"
                                        ng-bind="appliance.type || 'empty'"
                                        e-form="editFormApplianceType"
                                        e-required></span>
                                <button
                                        class="btn btn-icon btn-xs btn-link icmn-pencil"
                                        ng-click="editFormApplianceType.$show()"
                                        ng-hide="editFormApplianceType.$visible"></button>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-sm-3">
                                Brand
                            </div>
                            <div class="col-sm-9">
                                <span
                                        editable-text="appliance.brand"
                                        onaftersave="save()"
                                        ng-bind="appliance.brand || 'empty'"
                                        e-form="editFormApplianceBrand"
                                        e-required></span>
                                <button
                                        class="btn btn-icon btn-xs btn-link icmn-pencil"
                                        ng-click="editFormApplianceBrand.$show()"
                                        ng-hide="editFormApplianceBrand.$visible"></button>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-sm-3">
                                Complaint
                            </div>
                            <div class="col-sm-9">
                                <span
                                        editable-text="appliance.complaint"
                                        onaftersave="save()"
                                        ng-bind="appliance.complaint || 'empty'"
                                        e-form="editFormApplianceComplaint"
                                        e-required></span>
                                <button
                                        class="btn btn-icon btn-xs btn-link icmn-pencil"
                                        ng-click="editFormApplianceComplaint.$show()"
                                        ng-hide="editFormApplianceComplaint.$visible"></button>
                            </div>
                        </div>
                    </div>
                    <form name="applianceForm" ng-show="newAppliance" ng-submit ="addAppliance()">
                        <h3 class="margin-top-20">Appliance #<span ng-bind="order.appliances.length+1"></span></h3>
                        <div class="form-group row"
                             ng-class="{ 'has-danger' : applianceForm.type.$invalid && (applianceFormSubmitted || applianceForm.type.$touched) }">
                            <div class="col-md-3">
                                <label class="form-control-label required"
                                >Type</label>
                            </div>
                            <div class="col-md-9">
                                <select
                                        name="type"
                                        class="form-control"
                                        ng-model="newAppliance.type"
                                        required>
                                    <option value="Cooktop">Cooktop</option>
                                    <option value="Dishwasher">Dishwasher</option>
                                    <option value="Dryer">Dryer</option>
                                    <option value="Exhaust fan/Hood">Exhaust fan/Hood</option>
                                    <option value="Freezer (free standing)">Freezer (free standing)</option>
                                    <option value="Garbage Disposal">Garbage Disposal</option>
                                    <option value="Ice machine (free standing)">Ice machine (free standing)</option>
                                    <option value="Microwave">Microwave</option>
                                    <option value="Oven">Oven</option>
                                    <option value="Range">Range</option>
                                    <option value="Refrigerator">Refrigerator</option>
                                    <option value="Stackable dryer">Stackable dryer</option>
                                    <option value="Stackable washer">Stackable washer</option>
                                    <option value="Trash Compactor">Trash Compactor</option>
                                    <option value="Washer">Washer</option>
                                    <option value="Wine cooler">Wine cooler</option>
                                    <option value="other" style="font-style: italic;">Other</option>
                                </select>

                                <div class="form-control-error-list" ng-show="applianceForm.type.$invalid && (applianceFormSubmitted || applianceForm.type.$touched)">
                                    <ul>
                                        <li>Please, choose the type.</li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="form-group row"
                             ng-class="{ 'has-danger' : applianceForm.type_other.$invalid && (applianceFormSubmitted || applianceForm.type_other.$touched) }"
                             ng-if="appliance.type == 'other'">
                            <div class="col-md-9 col-md-offset-3">
                                <input
                                        type="text"
                                        name="type_other"
                                        placeholder="Type the value"
                                        class="form-control"
                                        ng-model="newAppliance.type_other"
                                        required>
                                <div class="form-control-error-list" ng-show="applianceForm.appliance_other.$invalid && (applianceFormSubmitted || applianceForm.type_other.$touched)">
                                    <ul>
                                        <li>Please, type the value.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"
                             ng-class="{ 'has-danger' : applianceForm.brand.$invalid && (applianceFormSubmitted || applianceForm.brand.$touched) }">
                            <div class="col-md-3">
                                <label
                                        class="form-control-label required">Brand</label>
                            </div>
                            <div class="col-md-9">
                                <select
                                        name="brand"
                                        required="required"
                                        class="form-control"
                                        ng-model="newAppliance.brand">
                                    <option value="Amana">Amana</option>
                                    <option value="ASKO">ASKO</option>
                                    <option value="Bertazzoni">Bertazzoni</option>
                                    <option value="BOSCH">BOSCH</option>
                                    <option value="Dacor">Dacor</option>
                                    <option value="Electrolux">Electrolux</option>
                                    <option value="EUROTECH">EUROTECH</option>
                                    <option value="Fisher&Paykel">Fisher&amp;Paykel</option>
                                    <option value="Frigidaire">Frigidaire</option>
                                    <option value="Gaggenau">Gaggenau</option>
                                    <option value="GE">GE</option>
                                    <option value="GE Monogram">GE Monogram</option>
                                    <option value="Haier">Haier</option>
                                    <option value="Hot Point">Hot Point</option>
                                    <option value="Jenn-Air">Jenn-Air</option>
                                    <option value="Kenmore">Kenmore</option>
                                    <option value="Kitchenaid">Kitchenaid</option>
                                    <option value="LG">LG</option>
                                    <option value="LIEBHERR">LIEBHERR</option>
                                    <option value="Magic Chef">Magic Chef</option>
                                    <option value="Maytag">Maytag</option>
                                    <option value="Miele">Miele</option>
                                    <option value="Nutone">Nutone</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Sub Zero">Sub Zero</option>
                                    <option value="Thermador">Thermador</option>
                                    <option value="U-Line">U-Line</option>
                                    <option value="Viking">Viking</option>
                                    <option value="Whirlpool">Whirlpool</option>
                                    <option value="Wolf">Wolf</option>
                                    <option value="other" style="font-style: italic;">Other </option>
                                </select>
                                <div class="form-control-error-list" ng-show="applianceForm.brand.$invalid && (applianceFormSubmitted || applianceForm.brand.$touched)">
                                    <ul>
                                        <li>Please, choose the brand.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"
                             ng-class="{ 'has-danger' : applianceForm.brand_other.$invalid && (applianceFormSubmitted || applianceForm.brand_other.$touched) }"
                             ng-if="appliance.brand == 'other'">
                            <div class="col-md-9 col-md-offset-3">
                                <input
                                        type="text"
                                        name="brand_other"
                                        placeholder="Type the value"
                                        class="form-control"
                                        ng-model="newAppliance.brand_other"
                                        required>
                                <div class="form-control-error-list" ng-show="applianceForm.brand_other.$invalid && (applianceFormSubmitted || applianceForm.brand_other.$touched)">
                                    <ul>
                                        <li>Please, type the brand.</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row"
                             ng-class="{ 'has-danger' : applianceForm.complaint.$invalid && (applianceFormSubmitted || applianceForm.complaint.$touched) }">
                            <div class="col-md-3">
                                <label class="form-control-label required">Complaint</label>
                            </div>
                            <div class="col-md-9">
                                                <textarea
                                                        name="complaint"
                                                        class="form-control"
                                                        ng-model="newAppliance.complaint"
                                                        required></textarea>
                                <div class="form-control-error-list" ng-show="applianceForm.complaint.$invalid && (applianceFormSubmitted || applianceForm.complaint.$touched)">
                                    <ul>
                                        <li>Please, type the complaint.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        {#<div class="form-group" ng-if="order.appliances.length > 1 && !$first">
                            <button type="button" class="btn btn-sm btn-warning"
                                    ng-click="removeAppliance(appliance)">
                                <i class="icmn-cross"></i> Remove the appliance
                            </button>
                        </div>#}
                        <div class="form-actions">
                            <div class="form-group row">
                                <div class="col-xs-4 col-xs-offset-3">
                                    <button type="button"
                                            class="btn btn-block btn-btn-default"
                                            ng-click="newAppliance = false"><i class="icmn-cross"></i> Cancel</button>
                                </div>
                                <div class="col-xs-5">
                                    <button type="submit"
                                            class="btn btn-block btn-primary"
                                            ng-click="applianceFormSubmitted = true"><i class="icmn-plus2"></i> Add appliance</button>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="form-actions">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <button type="submit"
                                        class="btn btn-block btn-primary"
                                        ng-show="!newAppliance"
                                        ng-click="newAppliance = {}"><i class="icmn-plus2"></i> Add new appliance</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-heading">
                    <h4>Files</h4>
                </div>
                <div class="panel-body">
                    Coming soon...
                </div>
            </section>
        </div>
    </div>

</div>