<div class="page-content-inner">

    <!-- Page 404 -->
    <div class="single-page-block">
        <div class="margin-auto text-center max-width-500">
            <h1>Error 404</h1>
            <p>The page you are looking for does not exist; it may have been moved, or removed altogether. You might want to try the search function. Alternatively, return to the front page.</p>
            <!--<a href="javascript: void(0);" class="btn btn-link">Go Back</a>-->
        </div>
    </div>
    <!-- End Page 404 -->

</div>